<div class="content session-new">
  
  <div class="header">
    <h1>log in</h1>
  </div>

  <div class="body">
    <div class="input-group">
      <label for="email">What's your email address?</label>
      <input class="form-control" id="email" name="email" type="text" placeholder="Email">
    </div>
    <div class="input-group">
      <label for="password">What's your password?</label>
      <input class="form-control" id="password" name="password" type="password", placeholder="Password">
    </div>
    <button class="submit btn btn-default">submit</button>
  </div>

  <div class="footer">
  </div>
  
</div>