<div class="content user-new">
  
  <div class="header">
    <h1>modify bank</h1>
  </div>

  <div class="body">
    <div class="input-group">
      <label for="amount">How much is in your bank?</label>
      <input class="form-control" id="total" name="total" type="text">
    </div>
    <button class="submit btn btn-default">submit</button>
  </div>

  <div class="footer">
  </div>
  
</div>