<div class="content user-new">
  
  <div class="header">
    <h1>enter amount spent</h1>
  </div>

  <div class="body">
    <div class="input-group">
      <label for="amount">How much did you spend?</label>
      <input class="form-control" id="amount" name="amount" type="text">
    </div>
    <button class="btn btn-default">submit</button>
  </div>

  <div class="footer">
  </div>
  
</div>