/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

div {
  clear: both;
  display: block;
  width: 100%;
  float: none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
div * {
  text-align: center;
  width: 100%;
  height: auto;
}

div.content.main {
  max-width: 250px;
}

div.loading {
  height: 32px;
  width: 32px;
  margin: auto;

}

.template {
  display: none;
}
